.container{
    text-align: center;
}
table{
    margin: auto;
}
input{
    font-size: 27px;
    border: solid black;
    border-radius: 5px;
}
button{
    font-size: 35px;
    background: rgb(136, 134, 134);
    width: 84px;
    height: 65px;
    border-radius: 5px;
}
.calculator{
    background-color: rgb(222, 226, 221);
    padding: 18px;
    border-radius: 18px;
    display: inline-block;
}